<% content_for :head do %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
  <script type="text/javascript">
  <!--
    $(document).ready(function(){
      $('#search-form input[type="submit"]').button();

      var geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(39.529,-119.814);
      var myOptions = {
        zoom: 14,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
          position: google.maps.ControlPosition.TOP_LEFT,
        },
        panControl: false,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.DEFAULT,
        },
      };
      var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
      var youarehere = new google.maps.MarkerImage('<%= request.url %>youarehere.png', new google.maps.Size(48, 48));
      var pin = new google.maps.MarkerImage('<%= request.url %>pin.png', new google.maps.Size(24, 24));
      var marker;
      var infowindow;

      $('#search-form > form').submit(function(){
        var address = $('#search').val();
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            latlng = results[0].geometry.location;
            map.panTo(latlng);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              icon: pin,
            });
            $.ajax({
              url: 'https://api.foursquare.com/v2/venues/explore?ll=' + latlng.toUrlValue(3) + '&llAcc=10&radius=4828&limit=50&client_id=JD1SH050Z32DQ3IRI4ND4J5LKFUEQOOJ1ENBJRQAGR32TWSJ&client_secret=1RQDNQYUXO3F5OR5SD0JAE1LZHBTBNY0EON3JR2OSGUEL1MB',
              success: function(data) {
                var foursquare = data.response.groups[0].items;
                var hottest = 0;
                var theretotal = 0;
                var therenow = 0;
                for (var i = 0; i < foursquare.length; i++) {
                  if (foursquare[i].venue.hereNow.count > therenow) {
                    hottest = i;
                    theretotal = foursquare[i].venue.stats.checkinsCount;
                    therenow = foursquare[i].venue.hereNow.count;
                  } else if (foursquare[i].venue.hereNow.count == therenow) {
                    if (foursquare[i].venue.stats.checkinsCount > theretotal) {
                      hottest = i;
                      theretotal = foursquare[i].venue.stats.checkinsCount;
                      therenow = foursquare[i].venue.hereNow.count;
                    }
                  }
                }

                var contentString = '<div class="infowindow">' +
                  '<h3>' +
                  '<img src="' +
                  foursquare[hottest].venue.categories[0].icon +
                  '" />&nbsp;' +
                  '<a href="https://foursquare.com/v/' +
                  foursquare[hottest].venue.name.toLowerCase().replace(/[^\w\s]/g, '').replace(/\s/g, '-') +
                  '/' +
                  foursquare[hottest].venue.id +
                  '">' +
                  foursquare[hottest].venue.name +
                  '</a>' +
                  '</h3>' +
                  '</div>';

                if (infowindow) {
                  infowindow.close();
                }
                infowindow = new google.maps.InfoWindow({
                    content: contentString,
                    maxWidth: 200,
                    position: new google.maps.LatLng(foursquare[hottest].venue.location.lat, foursquare[hottest].venue.location.lng),
                });

                infowindow.open(map);

                $('#overlay').animate({height: '150px'});
                $('#search-form').css('margin-top', '24px');
              },
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
        return false;
      });
      $('#search-form > form').submit();
    });
  // -->
  </script>
<% end %>

<div id="map_canvas" style="width:100%; height:100%;"></div>
<div id="overlay">
  <div id="outer">
    <h1><img src="/the_what.png" /></h1>
    <div id="middle">
      <div id="search-form">
        <form class="ui-form">
          <input type="text" id="search" name="search" value="Reno, NV" size="20" />
          <input type="submit" value="Go" />
        </form>
      </div>
    </div>
  </div>
</div>
